<% cart.each do |i| %>
    <p><%= i %></p>
<% end %>

<%= form_tag ({controller: 'products',
    action: 'add',
    method: 'post'}) do %>

  <input name=product>
  <input type=submit value='add to cart'>
<% end %>
